* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/main_background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }
#logo-header {
    display: flex;
    justify-content: center;
    max-height: 20%;
  }
  
#logo-image {
    max-width: 100%;
    height: auto;
    top: 50px;
    left: 50px;
  }
h1 {
    font-family: 'butterfly kids', cursive;
    font-size: 400%;
    font-weight: 900;
    color: #FFF;
  }
button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #800080;
}
.welcome-screen,
.score-container
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#begin-quiz-button,
#try-again-button,
#game-rules-button,
#submit-spell-button
{
    font-size: 1.33em;
    padding: 0.5em 1.8em;
    border-radius: 0.2em;
}
#try-again-button {
  margin-top: 0.9em;
}
#quiz-container {
  height: 35rem;
  width: 75%;
  max-width: 40em;
  padding: 3.1rem 1.8rem;
  margin: 0 auto;
  border-radius: 0.6em;
  /*background-image: url(../images/quiz_background.webp);*/
  background-color: lightgrey;
  opacity: 0.7;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  animation: fadeInAnimation ease 1s;
}
.quiz-header {
  margin-bottom: 1.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5em;
  border-bottom: 0.1em solid black;
  background-color: lightgrey;
}
.timer {
  background-color: lightgrey;
  width: 7.5em;
  border-radius: 1.8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7em 1.8em;
}
.submit-spell-form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 5;
}
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5); 
  }
.hide {
    display: none;
}
footer > p{
    left: 50px;
    text-align: center;
    text-decoration: solid;
    text-decoration-color: #fff;
}
/* main content */
main {
    background-color: #000;
    background-image: url("assets/images/main_background.webp");
}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.popup .popuptext {
  visibility: hidden;
  width: 100%;
  height: 100vh;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
@keyframes fadeInAnimation {
  0% {opacity: 0;}
  100% {opacity: 1;}
}